{% load static %}

<!Doctype html>
<html lang="en dir="ltr">
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
</head>
<body bgcolor="lightblue">

	<div class="main">
		<div class="nav">	
	<ul>
		<li><font size="5"><a href="News_page.html">Main</a></font></li>
		<li><font size="5"><a href="sportspage">Sports</a></font></li>
		<li><font size="5"><a href="News">News</a></font></li>
		<li><font size="5"><a href="Business">Business</a></font></li>
	</ul>
		</div>
		<div class="two">
			<div class="three">
 			<img src="{% static 'images/lake.jpg' %}" style="width: 430px;height: 320px;">				
<p>With their still surfaces and spectrum of colors, lakes showcase some of the most mesmerizing qualities of water. In fact, some of the most beautiful of these natural wonders, found all around the world from Bolivia to Siberia, will make you forget about beaches altogether. And while these examples may go by different names (lake, laguna, loch) they are all equally stunning—and worthy of a visit.</p>
			</div>
		<div class="four">
<div> News number one
</div>
<div> News number two 
</div>
<div> News number three
</div>
<div> News number four
</div>
		</div>
		<div class="five">
			<div> News number one
</div>
<div> News number two 
</div>
<div> News number three
</div>
<div> News number four
</div>
<div> News number five
</div>
<div> News number six 
	</div>

		</div>
		</div>
	</div>
</body>
</html>
