<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My first page</title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <h2>H2</h2>
    <h3>H3</h3>
    <h4>H4</h4>
    <h5>H5</h5>
    <h6>H6</h6>
    <p>I am paragraph</p>

    <a href="https://chocofood.kz"> Click me</a>
    <!--img src="test.jpg" alt="chachki"-->
    <a href="https://ru.wikipedia.org/wiki/%D0%97%D0%B8%D0%BC%D0%B0" target="_blank">
      <img src="2.jpg" alt="zima">
    </a>

    <p>Lorem Epsum</p>
    <br>
    <hr>
    <p>Lorem Epsum Lorem Epsum</p>

    <p>Helllo                  World</p>
    <pre>
         Heelllo             World
         Today is great      weather</pre>

    <b>Bold text</b>
    <strong>Important text</strong>
    <i>Italic</i>
    <em>Emphasized</em>
    <mark>Marked</mark>
    <small>Small</small>
    <del>Deleted</del>
    <ins>Inserted</ins>
    <sub>Subscript</sub>
    <sup>Superscript</sup>

    <table>
      <tr>
        <th>Name</th>
        <th>Suraname</th>
        <th>Age</th>
      </tr>
      <tr>
        <td>Dianka</td>
        <td>Omarova</td>
        <td>21</td>
      </tr>

      <tr>
        <td>Nurtas</td>
        <td>Kairat</td>
        <td>38</td>
      </tr>
    </table>

    <ul>
      <li>Tesla</li>
      <li>BMW</li>
      <li>Toyato</li>
    </ul>

    <ol type="1">
      <li>Nurtas</li>
      <li>Yulya</li>
      <li>Alyona</li>
    </ol>

    <p>Tenge &#8376;</p>
    <p>Tenge &#9829;</p>

    <button type="button" name="button"><a href="https://google.com" >Click me!!!</a></button>

    <form>
      Fisrt Name: <br>
      <input type="text">
      <br>
      Last Name: <br>
      <input type="text">
      <br>
      Email: <br>
      <input type="email" required>
      <br>
      Password: <br>
      <input type="password">
      <br>
      <input type="radio" name="gender" value="male" >Male <br>
      <input type="radio" name="gender" value="female" checked>Female <br>
      <input type="radio" name="gender" value="another">Another <br>

      <input type="checkbox" value="Train">Train <br>
      <input type="checkbox" value="Bus">Bus <br>
      <input type="checkbox" value="Plane">Plane <br>
      <input type="color">
      <br>
      <input type="file">
      <br>
      <input type="date">
      <br>

      <select name="cars">
        <option value="Tesla">Tesla</option>
        <option value="BMW">BMW</option>
        <option value="Toyoto">Toyoto</option>        
      </select>


      <input type="submit" value="Send!!!">
    </form>

  </body>
</html>
