<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style_2.css">
  </head>
  <body>
    <p style="color:red">Hello world</p>
    <p>This is another paragraph</p>

    <style>
      p {
        color:blue;
      }
    </style>

    <p id="border_1">Border</p>
    <p id="border_2">Border</p>
    <p>Border</p>
    <p>Border</p>
    <p>Border</p>
    <p>Border</p>
    <p>Border</p>

    <div class="block">
      <h1>Heading of block</h1>
      <p>Paragraph of block</p>
    </div>

    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h2>


    <a href="https://bbc.com">Chocofood.kz</a>


    <table>
      <tr>
        <th>Name</th>
        <th>Age</th>
      </tr>
      <tr>
        <td>Diana</td>
        <td>21</td>
      </tr>
      <tr>
        <td>Alyona</td>
        <td>27</td>
      </tr>
      <tr>
        <td>Grisha</td>
        <td>33</td>
      </tr>
      <tr>
        <td>Rizabek</td>
        <td>36</td>
      </tr>
    </table>

    <ul>
      <li>hello</li>
      <li>hello</li>
      <li>hello</li>
      <li>hello</li>
      <li>hello</li>
    </ul>

    <ol>
      <li>hello</li>
      <li>hello</li>
      <li>hello</li>
      <li>hello</li>
      <li>hello</li>
    </ol>

  </body>
</html>
