{% load static %}

<!Doctype html>
<html lang="en dir="ltr">
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style3.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">

</head>
<body bgcolor="lightblue">
<div class="main">
	<div class="nav">	
	<ul>
		<li><font size="5"><a href="News_page">Main</a></font></li>
		<li><font size="5"><a href="sportspage">Sports</a></font></li>
		<li><font size="5"><a href="News">News</a></font></li>
		<li><font size="5"><a href="Business">Business</a></font></li>
	</ul>
		</div>
<div class="one">
	<div> <img src="{% static 'images/football1.jpg' %}">			
</div>
<div> <img src="{% static 'images/basketball1.jpg' %}">
</div>
<div> <img src="{% static 'images/tennis1.jpg' %}">
</div>
</div>
<div class="two">
<div> Advertisement #1
</div>
<div> Advertisement #2
</div>
</div>
</div>
</body>